@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Variables CSS */
root{
    --title-color: #B9FAF8;
    --text-color: #000;
    --conteiner-color: #A663CC;
    --primary-color: #6F2DBD;
    --secundary-color: #ffc107;

}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1,h2,h3,h4{
    font-weight: 700;
}

a{
    font-weight: 400;
}

img{
    width: 100%;
}

/* Nav */
.navbar{
    border-bottom: 1px solid #ffc107;
}

.navbar .nav-link{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #ffc107;
}

/* Home */

.banner-image1{
    background-image: url(../media/img/home-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-image2{
    background-image: url(../media/img/home-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-image3{
    background-image: url(../media/img/home-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text-banner{
    font-size: 3em;
}

/* Footer */
.footer-top{
    padding: 80px 0 30px;
}

.footer-bottom{
    padding: 30px 0 20px;
    border-top: 1px solid #ffc107;
}